form {
	margin-top: 20%;
	width: 100%;
	text-align: center;
}

label {
	background-color: #fdf;
	border-radius: 25%;
	cursor: default;
	padding: 10px;
}

input {
	padding: 10px;
	width: 400px;
}

div {
	padding: 5px;
}

.input-control.success input {
	border-color: rgb(24, 129, 55);
}

.input-control.error input {
	border-color: #961a1a;
}

.input-control .error {
	color: #ff3860;
	font-size: 9px;
	height: 13px;
}

.button1 {
	background-color: #ea4c89;
	border-radius: 8px;
	border-style: none;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	font-weight: 500;
	height: 40px;
	line-height: 20px;
	list-style: none;
	margin: 10px;
	outline: none;
	padding: 10px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	transition: color 100ms;
	vertical-align: baseline;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
	background-color: #f082ac;
}
